
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-container > div {
    background-color:lightsteelblue;
    width: 400px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 24px;
    height: auto;
    width: 100%;
}

.flex-container1 {
    display: flex;
    flex-direction: column;
    background-color: ghostwhite;
}

    .flex-container1 > div {
        background-color: #f1f1f1;
        width: auto;
        margin: 10px;
        text-align: left;
        line-height: 40px;
        font-size: 20px;
    }
a:visited {
    color: gray;
}
#color1 {
    color: black;
    text-shadow: 2px 5px 5px gray;
}

#color2 {
    color: lightsteelblue;
}

body {
    background-color: ghostwhite;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}


.row:after {
    content: "";
    clear: both;
    display: table;
    
}

[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .col-s-1 {
        width: 25%;
        font-family: Calibri;
        font-size: x-large;
        font-style: oblique;
    }

    
}

@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
    background-image: url(header.png);
    height: auto;
    width: 100%;
    color: gray;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 1px 5px 5px gray;
}

.menu ul {
    list-style-type: lower-roman;
    margin: 0;
    padding: 0;
}

.menu li {
   
    padding: 8px;
    margin-bottom: 7px;
    background-color: lightsteelblue;
    color: white;
    box-shadow: 5px 5px rgba(0,0,0,0.12);
    text-align: center;
}

    .menu li:hover {
        background-color: steelblue;
    }

.aside {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    color: lavender;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
input[type=submit] {
    padding: 8px;
    margin-bottom: 7px;
    background-color: lightsteelblue;
    color: white;
    box-shadow: 5px 5px rgba(0,0,0,0.12);
    text-align: center;
}
input[type=submit]:hover {
        background-color: steelblue;
}

.footer {
        background-color: darkgray;
        color: white;
        text-align: left;
        font-size: 12px;
        padding: 15px;
}


.container1 {
    position: relative;
    width: 65%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: lightsteelblue;
}

.container1:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 1px 5px 5px gray;
}